<%# <%= f.label :address, '住所' %>
<%# <%= f.text_field :address, class: 'form-control' %>

<div class="main-background">
  <div class="left-side">
  ここに地図
  </div>
  <div class="right-side">
  ここにデータ入力
  </div>
</div>